@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1 {
    font-weight: normal;
    color: white;
}

div.info {
    margin: 12px 0;
}

div.info * {
    color: white;
}

#icons {
    font-size: larger;
    font-style: bold;
    display: none;
    filter:url(#drop-shadow);
}

.container {
    position: absolute;
    left: 1000px;
}

#vehicle {
    fill: white;
}


div.menuHolder {
    user-select: none;
    -moz-user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 32%;
}

svg.icons {
    display: none;
}

svg.menu {
    position: absolute;
    overflow: visible;
    transition: .1s;
    transition-timing-function: ease-out;
}

svg.menu.inner {
    transform: scale(0.66) rotate(-10deg);
    opacity: 0;
    visibility: hidden;
}

svg.menu.outer {
    opacity: 0;
    visibility: hidden;
}

svg.menu > g > path {
    fill: rgba(0, 0, 0, 0.85);
}

.sector {
    transition: all .5s ease;
}

svg.menu > g.sector > path {
    cursor: pointer;
}

svg.menu > g.sector > text,
svg.menu > g.sector > use {
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    font-size: 0px;
    font-weight: bold;
    letter-spacing: 0.2px;
    cursor: pointer;
    fill: white;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(1,1,1,1);

}

svg.menu > g.sector:hover > path {
    fill: #0c8d879a;
    transition: all .5s ease;
    scale: 5px;
}

svg.menu > g.center:hover > circle {
    fill:#0c8d879a;
}

svg.menu > g.center > circle {
    cursor: pointer;
    fill: rgba(30, 30, 30, 0.425);
}

svg.menu > g.center > text,
svg.menu > g.center > use {
    margin-top: 5px;
    font-size: 2.5px;
    cursor: pointer;
    fill: white;
}

#centerText {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    transition: all 1s ease;
}
